<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">





  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Register Form</strong>
        </div>
        <div class="card-body">
          <form  action="" method="post" enctype="multipart/form-data" class="form-horizontal">

     <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">User Name</label>
              <div class="col-md-9">
                <input  type="text" id="user-name-input" name="text-input" class="form-control" placeholder="User name">
                <span class="help-block">Please enter a user name</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="password-input">Password</label>
              <div class="col-md-9">
                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password" autocomplete="current-password">
                <span class="help-block">Please enter a complex password</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="password-input">Confirm password</label>
              <div class="col-md-9">
                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Confirm password" autocomplete="current-password">
                <span class="help-block">Please re-enter your password</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Email </label>
              <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email" autocomplete="email">
                <span class="help-block">Please enter your email</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="phone-input">Phone </label>
              <div class="col-md-9">
                <input type="phone" id="phone-input" name="phone-input" class="form-control" placeholder="Enter Phone" autocomplete="phone">
                <span class="help-block">Please enter your phone</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Type</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">

                  <option value="1">Intern</option>
                  <option value="2">Staff</option>

                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Avatar </label>
              <div class="col-md-9">
                <input type="file" id="avatar-input" name="avatar-input" >

              </div>
            </div>
          </div>



 <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">First Name</label>
              <div class="col-md-9">
                <input type="text" id="first-name-input" name="text-input" class="form-control" placeholder="First name">
                <span class="help-block">please enter your first name</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Middle  Name</label>
              <div class="col-md-9">
                <input type="text" id="middle-name-input" name="text-input" class="form-control" placeholder="Middle  name">
                <span class="help-block">please enter your middle name</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
              <div class="col-md-9">
                <input type="text" id="last-name-input" name="text-input" class="form-control" placeholder="Last name">
                <span class="help-block">please enter your last name</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Date  of birthday</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                <span class="help-block">Please enter a valid date</span>
              </div>
            </div>







            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="radio-input">Gender </label>

                <label class="col-md-2">Male
                  <input type="radio" checked="checked" name="gender">
                  <span class="checkmark"></span>
              </label>
              <label class="col-md-3">Fe-Male
                <input type="radio" checked="checked" name="gender">
                <span class="checkmark"></span>
            </label>

              </div>


            <!-- <div class="col-2">
              <div class="input-group">
                  <label class="label">Gender</label>
                  <div class="p-t-10">
                      <label class="radio-container m-r-45">Male
                          <input type="radio" checked="checked" name="gender">
                          <span class="checkmark"></span>
                      </label>
                      <label class="radio-container">Female
                          <input type="radio" name="gender">
                          <span class="checkmark"></span>
                      </label>
                  </div>
              </div>
          </div> -->





            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Gender</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">

                  <option value="1">Male</option>
                  <option value="2">Fe-Male </option>
                  <option value="3">Gay</option>
                </select>
              </div>
            </div> -->
















            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="number-input">Personal Id </label>
              <div class="col-md-9">
                <input type="number" id=" personal-id-input" name="text-input" class="form-control" placeholder=" Personal-id">
                <span class="help-block">Please enter a  personal id</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">School </label>
              <div class="col-md-9">
                <input type="text" id="school-input" name="text-input" class="form-control" placeholder="School">
                <span class="help-block">Please enter school</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Major </label>
              <div class="col-md-9">
                <input type="text" id="major  -input" name="text-input" class="form-control" placeholder="Major">
                <span class="help-block">Please enter major</span>
              </div>
            </div>
          </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>

    </div>

    </div> <!--/.col-->
  </div><!--/.row-->
</div>
